<h1>Newsletters</h1>

<% if @newsletters.length > 0 %>
  <table>
    <thead>
      <tr>
        <th>Data</td>
        <th>Email</td>
        <th>Controle</td>
      </tr>
    </thead>

    <tbody>
      <% @newsletters.each do |newsletter| %>
        <tr>
          <td><%=l newsletter.created_at %></td>
          <td><%= newsletter.email %></td>
          <td>
            <%= link_to 'Apagar', admin_newsletter_newsletter_path(newsletter), method: :delete, data: { confirm: "Tem certeza ?" } %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Não existem registros neste momento.</p>
<% end %>